@using EM.Web.Models.InputModels.Tickets
@using EM.Web.Models.ViewModels.Events

@model EventDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Name} at {Model.Venue.Name}";
}

<div class="row container-fluid bg-primary text-white my-3 p-4">
    <div class="col-md-6 d-flex flex-column justify-content-center gap-3">
        <h1>@Model.Name</h1>
        <div class="d-flex flex-column gap-2">
            <div aria-label="date">
                <i class="fas fa-clock"></i>
                <span data-date-culture="en-US" data-date-style="full" data-date-display="@Model.EventDate.ToString("O")"></span>
            </div>
            <div aria-label="location">
                <i class="fas fa-map-marker-alt"></i>
                @Model.Venue.Name, @Model.Venue.Address, @Model.Venue.CityName
            </div>
        </div>
    </div>
    <div class="col-md-6 text-end">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="w-50" />
    </div>
</div>

<section class="col-9 my-3 mx-auto">
    <h2 class="text-center">Tickets</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-8 fs-4">Select the count of tickets and choose ticket type...</div>
            <div class="col-md-4 d-flex justify-content-end align-items-baseline gap-3 p-0">
                <button id="decrementQuantityBtn" disabled class="btn btn-primary"><i class="fas fa-minus"></i></button>
                <span id="ticketQuantity"></span>
                <button id="incrementQuantityBtn" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="row mt-3">
            @foreach (var ticket in Model.Tickets)
            {
                <div class="border-top-1 border-top py-3 row">
                    <div class="col-6"><i class="fas fa-ticket-alt"></i> @ticket.Type - @ticket.Count left</div>
                    <div class="col-6 text-end">
                        @ticket.Price.ToString("F2")
                        <input class="ms-3 input-radio" data-action="selectTicket" data-ticket-price="@ticket.Price" name="ticketId" value="@ticket.Id" type="radio" />
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <form asp-controller="Cart" asp-action="Add" method="post">
                <input hidden id="idInput" type="text" name="@nameof(TicketInputModel.Id)" />
                <input hidden id="quantityInput" type="number" name="@nameof(TicketInputModel.Quantity)" />

                <div class="text-end">
                    <button id="buyBtn" type="submit" disabled class="btn btn-primary ms-auto">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="buyBtnText"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="w-75 mx-auto my-3">
    @if (Model.AdditionalInfo is not null)
    {
        <article>
            <h2 class="text-center">Additional info</h2>
            <p>@Model.AdditionalInfo</p>
        </article>
    }
    <article>
        <h2 class="text-center">About the palce</h2>
        <div class="row bg-secondary text-light my-2 p-3">
            <div class="col-md-6 d-flex flex-column justify-content-center gap-3">
                <div aria-label="venue" class="fs-3">@Model.Venue.Name</div>
                <div aria-label="location">
                    <i class="fas fa-map-marker-alt"></i>
                    @Model.Venue.Address, @Model.Venue.CityName
                </div>
                <a class="btn btn-primary w-fit-content" asp-controller="Venues" asp-action="Details" asp-route-id="@Model.Venue.Id">See more</a>
            </div>
            <div class="col-md-6 text-end">
                <img src="@Model.Venue.ImageUrl" alt="@Model.Venue.Name" class="w-75" />
            </div>
        </div>
    </article>
</div>

@section Scripts {
<script>
     const ticketQuantityContainer = id('ticketQuantity');
     const buyBtn = id('buyBtn');
     const buyBtnText = id('buyBtnText');
     const incrementQuantityBtn = id('incrementQuantityBtn');
     const decrementQuantityBtn = id('decrementQuantityBtn');

     const idInput = id('idInput');
     const quantityInput = id('quantityInput');

     let ticketQuantity = 1;
     let currentTicketPrice = undefined;

     updateBuyBtn(ticketQuantity);
     ticketQuantityContainer.textContent = ticketQuantity;
     quantityInput.value = ticketQuantity.toString();

     function updateBuyBtn(quantity, price) {
         const ticketName = quantity === 1 ? 'ticket' : 'tickets';

         buyBtnText.textContent = `${quantity}x ${ticketName} - ${(quantity * (price ?? 0)).toFixed(2)}`;
     }

     incrementQuantityBtn.addEventListener('click', () => {
         ticketQuantity++;

         decrementQuantityBtn.toggleAttribute('disabled', false);

         quantityInput.value = ticketQuantity.toString();
         ticketQuantityContainer.textContent = ticketQuantity;
         updateBuyBtn(ticketQuantity, currentTicketPrice);
     });

    decrementQuantityBtn.addEventListener('click', () => {
         ticketQuantity--;

         if (ticketQuantity <= 1) {
             decrementQuantityBtn.toggleAttribute('disabled', true);
             ticketQuantity = 1;
         }

         quantityInput.value = ticketQuantity.toString();
         ticketQuantityContainer.textContent = ticketQuantity;
         updateBuyBtn(ticketQuantity, currentTicketPrice);
     });

     document.addEventListener('click', function (e) {
         const action = e.target.dataset.action;

         if (action === 'selectTicket') {
             idInput.value = e.target.value;
             currentTicketPrice = Number(e.target.dataset.ticketPrice);

             updateBuyBtn(ticketQuantity, currentTicketPrice);
             buyBtn.toggleAttribute('disabled', false);
         }
     });
</script>
}
